@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");


li {
  list-style: none;
}

/* Navigation */
.logo-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  min-height: 11vh;
  background-color: rgb(34, 35, 36);
  font-family: "Cormorant SC", serif;
}

.logo {
  color: rgb(224, 224, 224);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  margin-left: 3%;
}

.logo img:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(232, 150, 62);
  font-family: "Cormorant SC", serif;
}

.nav-links {
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  z-index: 3;
}

.nav-links .search-input {
  display: none;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(224, 224, 224);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}

.nav-links li a:hover {
  color: rgb(34, 35, 36);
}

.burger {
  display: none;
  cursor: pointer;
  margin-left: 3%;
  margin-right: calc(20% - 25px);
}

.burger div {
  width: 25px;
  height: 2.5px;
  background-color: rgb(224, 224, 224);
  margin: 5px;
  transition: all 0.3s;
}

nav .nav-active {
  transform: translateX(0%);
  height: 89vh;
  position: fixed;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Search Bar */
.wrapper {
  max-width: 450px;
}

.wrapper .search-input {
  position: relative;
  background-color: #fff;
  width: 100%;
  border-radius: 60px;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
  height: 45px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 60px;
  padding: 0 60px 0 20px;
  font-size: 14px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input .icon {
  height: 45px;
  width: 55px;
  line-height: 45px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  color: rgb(34, 35, 36);
  cursor: pointer;
}

.user-tools {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 11vh;
}

.user-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.user-icon {
  color: rgb(224, 224, 224);
  transition: 300ms ease;
}

.user-icon:hover {
  color: rgb(232, 130, 62);
}

.user-wrapper .pop-up {
  display: flex;
  cursor: auto;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  background: rebeccapurple;
  width: 300px;
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgb(40, 40, 43);
  box-shadow: 0 10px 20px rgb(11 8 6);
  z-index: 4;
  transition: all ease 0.3s;
  /* display: none; */
  height: 0;
}


.user-wrapper .pop-up button {
  width: 90%;
  height: 45px;
  border-radius: 10px;  
  font-weight: 600;
  font-size: 17px;
  text-transform: capitalize;
  background-color: rgba(109, 109, 110, 0.818);
  border: none;
  box-shadow: 0 5px 10px rgb(11 8 6);
  cursor: pointer;
  color: rgb(245, 245, 245);
  transition: ease 0.3s;
  display: none;
}

.user-wrapper .pop-up button:hover {
 box-shadow: none;
}

.user-wrapper .pop-up button:active {
  transform: scale(.94);
  border: 1px solid rgb(178, 155, 140);

}

.user-wrapper:hover .pop-up {
  display: flex;
  height: 150px;
}

.user-wrapper:hover .pop-up:last-child {
  height: 70px;
}

.user-wrapper:hover .pop-up button {
  display:inline;
}

.basket-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.header-notification {
  display: flex;
  cursor: auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rebeccapurple;
  width: 150px;
  margin-top: 10px;
  border-radius: 20px;
  color: whitesmoke;
  background-color: rgb(40, 40, 43);
  box-shadow: 0 10px 20px rgb(11 8 6);
  z-index: 4;
  transition: all ease 0.3s;
  height: 0;
}

.header-notification span {
  display: none;
}

.basket-icon {
  color: rgb(224, 224, 224);
  transition: 300ms ease;
}

.basket-icon:hover {
  color: rgb(232, 130, 62);
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .logo-nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    justify-content: space-between;
  }

  .logo {
    /* position: relative; */
    margin-left: 0;

  }

  .nav {
    width: auto;
  }

  .nav-links {
    position: absolute;
    left: 0px;
    height: 100%;
    top: 11vh;
    background-color: rgb(232, 130, 62);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links .search-input {
    display: flex;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .wrapper {
    display: none;
  }

  .user-tools {
    margin-right: 3%;
  }

  .user-wrapper {
    align-items: flex-end;
  }

  .user-wrapper .pop-up {
    border-radius: 20px 0 20px 20px;

  }

  .basket-wrapper {
    width: 9px;
  }
}