<!-- Navigation -->
<nav class="logo-nav">
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <div id="logo" class="logo" onclick="location.href='/html/index.html'">
    <img src="/pictures/power3.png" alt="POWER STORM" height="75" />
  </div>
  <div class="wrapper">
    <div class="search-input">
      <div class="icon"><i class="fa fa-search"></i></div>
      <input type="text" placeholder="I'm looking for..." />
    </div>
  </div>
  <div class="user-tools">
    <div class="user-wrapper">
      <i id="user-icon" onclick="location.href='/html/profile.html'" class="fa-solid fa-user fa-lg user-icon"></i>
      <ul id="auth-options" class="pop-up">
        <li>
          <button id="login-btn" onclick="location.href='/html/login.html'">Login</button>
        </li>
        <li>
          <button id="reg-btn" onclick="location.href = '/html/register.html'">Sign Up</button>
        </li>
        </li>
      </ul>
      <ul id="logout-option" class="pop-up">
        <li>
          <button id="logout-btn">Logout</button>
        </li>
      </ul>
    </div>
    <div class="basket-wrapper">
      <i onclick="location.href='/html/shopping-cart.html'" class="fa-solid fa-basket-shopping fa-lg basket-icon"></i>
      <div class="cart-notification">
        <span>Product added!</span>
      </div>
    </div>
  </div>
</nav>
<nav class="nav">
  <ul class="nav-links">
    <li>
      <div class="search-input">
        <div class="icon"><i class="fa fa-search"></i></div>
        <input type="text" placeholder="I'm looking for..." />
      </div>
    </li>
    <li><a href="/html/products.html">Home</a></li>

    <li><a href="#">About</a></li>

    <li><a href="#">Work</a></li>

    <li><a href="#">Projects</a></li>
  </ul>
</nav>

<script src="/js/design/header.js"></script>  
<script src="/js/design/app.js"></script>
 
<script src="/js/logic/logout.js"></script>     
